@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum-Regular"), local("Cuprum"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum-Italic"), local("Cuprum"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum-Bold"), local("Cuprum"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum-BoldItalic"), local("Cuprum"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PT-Sans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans"), local("PT-Sans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-background: #293449;
  --special-shadow: #405069;
  --background-nav: #32425c;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
  --logo-shadow: #b52933;
  --logo-shadow-click: #8e1e26;
  --lightgrey: #eaeaea;
  --active-link: #161d29;
  --button-hover: #ca2c37;
  --popular-background: #f9f5f0;
  --old-price: #a9a9a9;
  --shadow-green: #367315;
  --shadow-hover: #5fbb2d;
  --shadow-active: #518534;
  --footer-contacts: #f3f7f9;
  --social-background: #212a3a;
  --popup-background: #f4f4f4;
  --home-breadcrumbs: #c1c6ce;
  --catalog-filter: #f7f3ec;
  --catalog-checker: #b5b5b5;
  --catalog-button: #e5e5e5;
  --dash: #444444;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

body {
  min-width: 960px;
  height: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
/*Верхний хэдэр*/
.main-header {
  margin-bottom: 59px;
}
.header-top {
  width: 100%;
  background-color: var(--special-background);
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-top__container {
  display: flex;
  align-items: center;
}
/*Логотип*/
.logo,
.logo:link,
.logo:visited {
  position: relative;
  background-color: var(--basic-red);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  flex-shrink: 0;
  z-index: 100;
}
.logo:focus {
  outline: 3px solid var(--success);
  outline-offset: -2px;
}
.logo--header {
  width: 220px;
  height: 42px;
}
.logo::before {
  position: absolute;
  content: "";
  height: 5px;
  background-color: var(--logo-shadow);
  bottom: -5px;
  right: 0;
  left: 0;
}
.logo:active {
  background-color: var(--error);
}
.logo:active::before {
  background-color: var(--logo-shadow-click);
}
/*Поле поиска*/
.search {
  position: relative;
}
.search__input {
  width: 270px;
  height: 42px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding-left: 42px;
  color: var(--basic-white);
  -webkit-appearance: none;
  border-radius: 0;
}
.search__input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
  font-size: 18px;
  padding-left: 42px;
}
.search__icon {
  position: absolute;
  fill: var(--basic-white);
  opacity: 0.5;
  margin: auto;
  left: 17px;
  top: 0;
  bottom: 0;
  transition: opacity 0.1s;
}
.search__input:focus + .search__label .search__icon {
  fill: var(--basic-red);
  opacity: 1;
}
.search__input:hover + .search__label .search__icon {
  opacity: 1;
}
.search__input::-webkit-input-placeholder {
  font-size: 18px;
  color: var(--basic-white);
}
.search__input::-moz-placeholder {
  color: var(--basic-white);
  opacity: 1;
  font-size: 18px;
}
.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration {
  display: none;
}
/*Закладки, корзина, оформить*/
.header-top__list {
  display: flex;
  max-width: 450px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.header-top__item {
  display: flex;
  align-items: center;
  height: 42px;
  width: 150px;
}
.header-top__item-link,
.header-top__item-link:link,
.header-top__item-link:visited {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}
.header-top__item-icon {
  fill: var(--basic-white);
  opacity: 0.5;
  margin-right: 9px;
  transition: all 0.1s;
}
.header-top__item-link:hover .header-top__item-icon {
  opacity: 1;
}
.header-top__item-link:active {
  background-color: var(--active-link);
  color: rgba(255, 255, 255, 0.5);
}
.header-top__item-link:focus {
  outline: 3px solid var(--success);
  outline-offset: -2px;
}
.header-top__item-link:active .header-top__item-icon {
  opacity: 0.5;
}
.header-top__item-link--checkout,
.header-top__item-link--checkout:link,
.header-top__item-link--checkout:visited {
  background-color: var(--basic-green);
}
.header-top__item-link--checkout:hover {
  background-color: var(--success);
}
.header-top__item-link--checkout:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}
.header-top__item-link--checkout:focus {
  outline: 3px solid var(--basic-red);
  outline-offset: -2px;
}
.header-top__item-link--full,
.header-top__item-link--full:link,
.header-top__item-link--full:visited {
  background-color: var(--basic-red);
}
.header-top__item-link--full:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}
.header-top__item-link--full:active {
  background-color: var(--error);
}
/*Средний хэдэр*/
.header-middle {
  width: 100%;
  background-color: var(--basic-background);
}
.header-middle__container {
  padding: 46px 20px 40px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}
/*Заголовок хэдэра*/
.header-middle__title {
  max-width: 220px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  font-size: inherit;
  color: var(--basic-red);
  margin: 0;
}
/*Контакты хэдера*/
.header-middle__contacts {
  text-align: center;
  transform: translate(10px);
}
.header-middle__phone-number,
.header-middle__phone-number:link,
.header-middle__phone-number:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  border: 3px solid var(--basic-white);
  text-decoration: none;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}
.header-middle__phone-number:focus {
  outline: 3px solid var(--success);
}
.header-middle__phone-number::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 16px;
  background: url("../img/icons/phone.svg") no-repeat center;
}
.header-middle__adress {
  max-width: 270px;
  font-size: 14px;
  margin: 0;
  color: var(--background-nav);
}
/*Авторизация хэдера*/
.header-middle__authorization {
  display: flex;
  align-items: flex-start;
  max-width: 400px;
  flex-wrap: wrap;
}
.sign-button,
.sign-button:link,
.sign-button:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  transition: all 0.1s;
  margin-bottom: 10px;
}
.sign-button:hover,
.sign-button:hover .signin-button__icon {
  color: var(--basic-red);
  fill: var(--basic-grey);
}
.sign-button:active,
.sign-button:active .signin-button__icon {
  color: var(--basic-greylight);
  fill: var(--basic-greylight);
}
.sign-button:focus {
  outline: 3px solid var(--success);
}
.header-middle__authorization-button:not(:last-child) {
  margin-right: 10px;
}
.signin-button {
  padding: 12px 27px 12px 19px;
}
.signup-button {
  padding: 12px 24px;
}
.signin-button__icon {
  min-width: 20px;
  height: 17px;
  fill: var(--basic-greylight);
  margin-right: 6px;
}

/*Авторизированный пользователь*/
.account {
  display: flex;
  background-color: var(--basic-white);
  margin-bottom: 1px;
}
.account__profile-icon {
  min-width: 20px;
  height: 18px;
  margin-right: 18px;
  fill: var(--basic-greylight);
}
.account__logout-icon {
  min-width: 20px;
  height: 17px;
  fill: var(--basic-greylight);
}
.account__profile-link,
.account__profile-link:link,
.account__profile-link:visited {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 12px 10px 12px 15px;
  color: var(--basic-black);
  text-decoration: none;
  transition: all 0.1s;
}
.account__profile-link:hover .account__profile-icon {
  fill: var(--basic-grey);
}
.account__profile-link:active,
.account__profile-link:active .account__profile-icon {
  fill: var(--basic-greylight);
  color: var(--basic-greylight);
}
.account__profile-link:focus {
  outline: 3px solid var(--success);
}
.account__profile-link .account__name {
  font-size: 21px;
  line-height: 21px;
}
.account__logout-link,
.account__logout-link:link,
.account__logout-link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s;
  padding: 12px 17px 12px 10px;
}
.account__logout-link:hover .account__logout-icon {
  fill: var(--basic-grey);
}
.account__logout-link:active .account__logout-icon {
  fill: var(--basic-greylight);
}
.account__logout-link:focus {
  outline: 3px solid var(--success);
}
.personal {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: -5px;
  flex-wrap: wrap;
}
.personal__link,
.personal__link:link,
.personal__link:visited {
  align-items: center;
  text-decoration: none;
  color: var(--background-nav);
  padding: 5px 5px 5px;
  line-height: 18px;
}
.personal__link:hover {
  color: var(--basic-red);
}
.personal__link:active {
  color: var(--basic-greylight);
}
.personal__link:focus {
  outline: 3px solid var(--success);
}
.personal__item {
  display: flex;
  align-items: center;
}
.personal__item:not(:last-child)::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--basic-grey);
  border-radius: 50%;
  margin: 0 9px;
}
/*Нижний хэдер*/
.header-bottom {
  width: 100%;
  background-color: var(--basic-background);
  padding-bottom: 60px;
}
.header-bottom__container {
  display: flex;
  justify-content: space-between;
}
.main-nav {
  width: 100%;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--background-nav);
  box-shadow: inset 0px -5px 0px var(--special-background);
}
.main-nav__item {
  flex-grow: 1;
}
.main-nav__link,
.main-nav__link:link,
.main-nav__link:visited {
  display: flex;
  padding: 16px 10px 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--basic-white);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}
.main-nav__link:hover {
  background-color: var(--special-background);
}
.main-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
}
.main-nav__link:focus {
  outline: 3px solid var(--success);
}
/*Предложения, слайдер*/
.offers {
  margin-bottom: 59px;
}
.offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}
.offer-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.offers__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 21px 22px;
}
.offers__item--materials {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.offers__item--instruments {
  background-color: var(--special-blue);
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.offers__item--machinery {
  background-color: var(--special-lilac);
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.offers__item--sales {
  background-color: var(--special-greenlight);
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.offers__item--delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.new-item {
  position: relative;
  overflow: hidden;
}
.new-item::after {
  content: "new";
  position: absolute;
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  top: 7px;
  right: -28px;
  margin: 0;
  transform: rotate(45deg);
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.offers__title {
  max-width: 180px;
  color: var(--basic-white);
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}
.offers__link,
.offers__link:link,
.offers__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  padding: 10px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.1s;
  text-align: center;
}
.offers__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.offers__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}
.offers__link:focus {
  outline: 3px solid var(--success);
}
/*Слайдер*/
.offer-slider {
  padding: 0;
}
.offer-slider__container {
  position: relative;
}
.offer-slider__item {
  display: none;
  width: 620px;
  height: 266px;
  padding: 23px;
}
.offer-slider__item--visible {
  display: block;
}
.offer-slider__item--perforator {
  background: url("../img/perforator.jpg");
}
.offer-slider__item--drill {
  background: url("../img/drill.jpg");
}

.offer-slider__title {
  margin: 0;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}
.offer-slider__slogan {
  margin: 0;
  color: var(--basic-white);
  font-size: 18px;
}
.offer-slider__controls {
  position: absolute;
  z-index: 50;
  display: flex;
  justify-content: center;
  bottom: 36px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.offer-slider__control {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: none;
  padding: 0;
  border-radius: 50%;
  background-color: var(--basic-white);
  transition: all 0.1s;
}
.offer-slider__control:after {
  position: absolute;
  content: "";
  top: -8px;
  bottom: -8px;
  right: -8px;
  left: -8px;
}
.offer-slider__control:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.offer-slider__control:not(:last-child) {
  margin-right: 10px;
}
.offer-slider__control--active {
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
  cursor: default;
  transform: none;
}
.offer-slider__control--active:hover {
  cursor: default;
  transform: none;
}
.offer-slider__control:focus {
  outline: 3px solid var(--success);
}
.offer-slider__arrow {
  position: absolute;
  z-index: 100;
  background-color: transparent;
  border: none;
  top: 122px;
  transition: all 0.1s;
}
.offer-slider__arrow:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.offer-slider__arrow:focus {
  outline: 3px solid var(--success);
}
.offer-slider__arrow--prev {
  left: 20px;
}
.offer-slider__arrow--next {
  right: 20px;
}
.offer-slider__arrow-icon {
  fill: var(--basic-white);
}
.offer-slider__catalog {
  position: absolute;
  z-index: 100;
  bottom: 27px;
  left: 24px;
}
.button,
.button:link,
.button:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  padding: 11px 10px 9px;
  width: 192px;
  background-color: var(--basic-red);
  transition: all 0.1s;
  border-radius: 2px;
}
.button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}
.button:active {
  background-color: var(--error);
}
.button:focus {
  outline: 3px solid var(--success);
}
/* Популярные товары*/
.popular-items {
  margin-bottom: 50px;
}
.popular__header {
  padding: 25px 14px 26px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--popular-background);
  margin-bottom: 20px;
}
.popular__main-title {
  margin: 0;
  color: var(--background-nav);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.popular-items__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: -20px;
}
.popular-items__item {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card-item {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--lightgrey);
  padding: 6px 18px 21px 18px;
  transition: all 0.1s;
}
.card-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.card-item__buttons {
  display: none;
}
.card-item:focus {
  outline: 3px solid var(--success);
}
.card-item:focus-within .card-item__buttons,
.card-item:hover .card-item__buttons {
  order: -1;
  width: 100%;
  height: 164px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.card-item:focus-within .card-item__image-container,
.card-item:hover .card-item__image-container {
  display: none;
}
.card-item__title {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 7px;
  word-break: break-all;
}
.card-item__image-container {
  order: -1;
  width: 100%;
  height: 164px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.card-item__image {
  object-fit: contain;
}

.card-item__old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--old-price);
  text-decoration: line-through;
  margin-bottom: 13px;
  padding-right: 5px;
}
.card-item .card-item__new-price {
  width: 141px;
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  padding: 10px 20px 10px 15px;
  margin-top: auto;
  overflow: hidden;
  white-space: nowrap;
}
.card-item__new-price::after {
  content: "";
  position: absolute;
  border: 20px solid var(--basic-white);
  border-left-color: transparent;
  border-right: 1px solid transparent;
  right: -1px;
}
.card-item__new-price:focus {
  outline: 3px solid var(--success);
}
.button-pay,
.button-pay:link,
.button-pay:visited {
  display: flex;
  align-items: center;
  width: 135px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--shadow-green);
  padding: 10px 40px 10px 30px;
  transition: all 0.1s;
}
.button-pay:hover {
  background-color: var(--shadow-hover);
}
.button-pay:active {
  background-color: var(--shadow-active);
}
.button-pay:focus {
  outline: 3px solid var(--basic-red);
}
.button-pay__icon {
  margin-right: 8px;
  margin-bottom: 3px;
  fill: var(--basic-white);
  fill-opacity: 0.3;
}
.card-item__button-pay {
  margin-bottom: 10px;
}
.button-bookmark,
.button-bookmark:link,
.button-bookmark:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  padding: 7px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--background-nav);
  border-radius: 2px;
  border: 3px solid var(--basic-green);
  transition: all 0.1s;
}
.button-bookmark:hover {
  border: 3px solid var(--background-nav);
}
.button-bookmark:active {
  border: 3px solid var(--background-nav);
  opacity: 0.5;
}
.button-bookmark:focus {
  outline: 3px solid var(--basic-red);
}
/*Популярные производители*/
.popular-manufacturers {
  margin-bottom: 70px;
}
.popular-manufacturers__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 145px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular-manufacturers__link,
.popular-manufacturers__link:link,
.popular-manufactures__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightgrey);
  transition: all 0.1s;
}
.popular-manufacturers__link:focus {
  outline: 3px solid var(--success);
}
.popular-manufacturers__link:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.popular-manufacturers__link:active {
  opacity: 0.5;
}
.popular-manufacturers__image {
  object-fit: contain;
}
/* Сервисы*/
.services {
  width: 100%;
  background-color: var(--basic-background);
  margin-bottom: 70px;
}
.services-container {
  padding-top: 64px;
  padding-bottom: 99px;
}
.services__header {
  margin-bottom: 70px;
}
.services__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.services__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}
.services__info {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 80px;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.services__list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/service-shadow.png");
  pointer-events: none;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto 0;
}
.services__item:not(:last-child) {
  margin-bottom: 1px;
}
.services__button {
  width: 240px;
  text-align: left;
  padding: 13.5px 10px 18.5px 22px;
  border: none;
  background-color: var(--background-nav);
  box-shadow: 0px 1px 0px var(--special-background),
    inset 0px 1px 0px var(--special-shadow);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  transition: all 0.1s;
}
.services__button:hover {
  cursor: pointer;
  background-color: var(--special-background);
}
.services__button--active {
  background-color: var(--basic-white);
  color: var(--background-nav);
  box-shadow: 0px 1px 0px var(--basic-white);
}
.services__button--active:hover {
  cursor: default;
  background-color: var(--basic-white);
}
.services__button:focus {
  outline: 3px solid var(--success);
  outline-offset: -2px;
}
.service {
  display: none;
}
.service--visible {
  display: block;
}
.service--delivery {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service--guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service--credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.service__title {
  max-width: 300px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--background-nav);
  margin: 0 0 30px;
}
.service__slogan {
  max-width: 350px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}
.service__slogan--credit {
  margin-bottom: 26.5px;
}
/* Информация и карта*/
.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.about {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.about__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 24px;
}
.about__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0 0 1px;
}
.about__slogan:not(:last-of-type) {
  margin-bottom: 27px;
}
.about__delivery-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}
.about__delivery-item {
  font-size: 18px;
  display: flex;
  align-items: center;
}
.about__delivery-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 12px;
}
.about__delivery-item:not(:last-child) {
  margin-bottom: 12px;
}
.about .about__button {
  width: 220px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 24px;
}
.contacts__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}
.contacts__buttons {
  margin-top: auto;
}
.contacts__map-button,
.contacts__map-button:link,
.contacts__map-button:visited {
  display: inline-block;
  width: 300px;
  height: 158px;
  margin-bottom: 26px;
  padding: 0;
  transition: all 0.1s;
}
.contacts__map-button:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.contacts__map-button:focus {
  outline: 3px solid var(--success);
}
.contacts__button,
.contacts__button:link,
.contacts__button:visited {
  width: 100%;
}
/*футер верхний*/
.main-footer {
  display: flex;
  flex-direction: column;
}
.footer-top {
  background-color: var(--background-nav);
  padding-bottom: 54px;
}
.footer-top__container {
  display: flex;
  justify-content: space-between;
}
.logo--footer {
  width: 220px;
  height: 63px;
  margin-bottom: 27px;
}
.footer-top__adress {
  max-width: 340px;
  margin: 0;
  font-size: 18px;
  color: var(--footer-contacts);
}
.footer-top__phone-number,
.footer-top__phone-number:link,
.footer-top__phone-number:visited {
  text-decoration: none;
  color: inherit;
}
.footer-top__phone-number:focus {
  outline: 3px solid var(--success);
}
.footer-top__navigation {
  max-width: 550px;
  padding-top: 37px;
}
.footer-top__navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
}
.footer-top__navigation-list:not(:last-child) {
  margin-bottom: 34px;
}
.footer-top__navigation-link,
.footer-top__navigation-link:link,
.footer-top__navigation-link:visited {
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}
.footer-top__navigation-link:hover {
  text-decoration: underline;
}
.footer-top__navigation-link:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-top__navigation-link:focus {
  outline: 3px solid var(--success);
}
.footer-top__navigation-item:not(:last-child) {
  margin-right: 58px;
}
.footer-top__navigation-link--top {
  color: var(--footer-contacts);
}
.footer-top__navigation-link--bottom {
  color: var(--special-yellowlight);
}
/*футер нижний*/
.footer-bottom {
  background-color: var(--special-background);
}
.footer-bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 29px;
  position: relative;
}
.footer-bottom__copyright-container {
  max-width: 300px;
}
.footer-bottom__copyright {
  line-height: 18px;
  margin: 0;
  color: var(--basic-white);
}
.footer-bottom__copyright:not(:last-child) {
  margin-bottom: 10px;
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  left: calc(50% - 14px);
  transform: translate(-50%);
}

.social__item:not(:last-child) {
  margin-right: 4px;
}
.social__link,
.social__link:link,
.social__link:visited {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-background);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.1s;
}
.social__link:hover,
.social__link:active {
  background-color: var(--basic-red);
}
.social__link:focus {
  outline: 3px solid var(--success);
}
.social__link--vk {
  background-image: url("../img/icons/vk.svg");
}
.social__link--fb {
  background-image: url("../img/icons/fb.svg");
}
.social__link--inst {
  background-image: url("../img/icons/inst.svg");
}
.footer-contacts {
  display: flex;
  max-width: 350px;
  flex-wrap: wrap;
}
.footer-contacts__info {
  color: var(--basic-white);
  line-height: 18px;
  margin: 0;
  margin-bottom: 8px;
}
.footer-contacts__info:not(:last-child) {
  margin-right: 51px;
}
.footer-contacts__info:last-child {
  margin-right: 13px;
}
.footer-contacts__link,
.footer-contacts__link:link,
.footer-contacts__link:visited {
  color: var(--special-yellowlight);
  text-decoration: none;
  transition: all 0.1s;
}
.footer-contacts__link:hover {
  text-decoration: underline;
}
.footer-contacts__link:active {
  color: var(--basic-red);
  text-decoration: none;
}
.footer-contacts__link:focus {
  outline: 3px solid var(--success);
}

/*Попап форма*/
.page-overflow {
  overflow: hidden scroll;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
}
.popup-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup-container--visible {
  display: block;
}
.contact-popup {
  width: 620px;
  max-height: 430px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  border-top: 7px solid var(--basic-red);
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.contact-popup__input-container {
  padding: 39px 80px 37px;
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(2, min-content);
  column-gap: 20px;
  row-gap: 13px;
  background-color: var(--basic-white);
}
.contact-popup__item--question {
  grid-column: 1/-1;
}
.contact-popup__label {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 11px;
}
.contact-popup__input,
.contact-popup__button {
  width: 100%;
}
.contact-popup__input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  padding: 7px 8px 7px 12px;
  border-radius: 2px;
  border: 2px solid var(--basic-greylight);
  outline: none;
}
.contact-popup__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--old-price);
  font-size: 13px;
}
.contact-popup__input--question {
  height: 114px;
  resize: none;
}
.contact-popup__close {
  position: absolute;
  right: 6px;
  top: 9px;
}
.close-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  width: 31px;
  height: 31px;
  background-image: url(../img/icons/close.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.1s;
}
.close-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.close-button:focus {
  outline: 3px solid var(--success);
}
.contact-popup__button-container {
  padding: 37px 80px;
  background-color: var(--popup-background);
}
.contact-popup__button {
  border: none;
}
/*Попап карта*/

.map-popup {
  width: 943px;
  max-height: 449px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: fixed;
  z-index: 1000;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.map-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* Попап добавления товара*/
.order-popup {
  width: 620px;
  max-height: 282px;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.order-popup__slogan-container {
  padding-top: 55px;
  padding-bottom: 49px;
  padding: 55px 20px 49px 81px;
  background-color: var(--basic-white);
}
.order-popup__slogan {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
}

.order-popup__slogan::before {
  content: "";
  width: 66px;
  height: 66px;
  background-image: url("../img/icons/mark.svg");
  margin-right: 30px;
}
.order-popup__buttons {
  display: flex;
  justify-content: center;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: var(--popup-background);
}
.order-popup__close {
  position: absolute;
  top: 6px;
  right: 6px;
}
.order-popup__pay-button {
  margin-right: 10px;
}
.button--white,
.button--white:link,
.button--white:visited {
  border: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}
.button--white:hover {
  background-color: var(--basic-white);
  color: var(--basic-red);
}
.button--white:active {
  background-color: var(--basic-white);
  color: var(--basic-red);
  opacity: 0.5;
}
/*Общее для попапов*/
.popup {
  display: none;
}
@keyframes popup-visible {
  from {
    transform: translate(0, -100px);
    opacity: 0.5;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
.popup-visible {
  display: block;
  animation-name: popup-visible;
  animation-duration: 0.1s;
}
/*--------------------------------------------------Каталог-------------------------------------------------------------*/
.catalog-header {
  margin-bottom: 21px;
}
/* Хлебные крошки*/
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.breadcrumbs__item:not(:last-child)::after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 12px;
  background-image: url("../img/icons/arrow-breadcrumbs.svg");
  margin: 0 17px;
}
.breadcrumbs__item .breadcrumbs__home-icon {
  padding-top: 1px;
}
.breadcrumbs__link,
.breadcrumbs__link:link,
.breadcrumbs__link:visited {
  display: inline-block;
  vertical-align: middle;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  fill: var(--home-breadcrumbs);
}
.breadcrumbs__link:focus {
  outline: 3px solid var(--success);
}
.breadcrumbs__item:not(:last-child) .breadcrumbs__link:hover {
  color: var(--basic-red);
  fill: var(--basic-red);
}
.breadcrumbs__item:not(:last-child) .breadcrumbs__link:active {
  opacity: 0.5;
}
.breadcrumbs__link--current:hover {
  cursor: default;
}
/*Заголовок*/
.catalog-main-title {
  padding: 29px;
  margin: 0;
  margin-bottom: 20px;
  color: var(--background-nav);
  background-color: var(--basic-background);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
/*Каталог*/
.catalog-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 28px 20px;
  margin-bottom: 59px;
}
.catalog__items {
  margin-right: -20px;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}
.catalog__item {
  display: flex;
  margin-bottom: 18px;
  margin-right: 20px;
}
.catalog__pages {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
/*Фильтр*/
.filter-subtitle {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 18px;
  background-color: var(--catalog-filter);
  border-radius: 3px;
}
.filter {
  position: relative;
  top: -14px;
}
.filter__group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter__group:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.filter__group--price {
  padding-bottom: 25px;
  margin-bottom: 16px;
}
.filter__group--maker {
  padding-bottom: 26px;
  margin-bottom: 18px;
}
.filter__group--mains {
  padding-bottom: 17px;
  margin-bottom: 17px;
}
.filter__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter__title--price {
  margin-bottom: 11px;
}
.filter__title--maker {
  margin-bottom: 15px;
}
.filter__title--mains {
  margin-bottom: 15px;
}
.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter__item:not(:last-child) {
  margin-bottom: 16px;
}
.filter__name {
  display: flex;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  word-break: break-all;
}
.filter__name--maker::before {
  content: "";
  flex-shrink: 0;
  width: 23px;
  height: 23px;
  -webkit-mask: url("../img/icons/checkbox-off.svg") 50% 50% / contain no-repeat;
  mask: url("../img/icons/checkbox-off.svg") 50% 50% / contain no-repeat;
  background-color: var(--basic-greylight);
  margin-right: 12px;
  transition: background-color 0.1s;
}
.filter__name--mains::before {
  content: "";
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  -webkit-mask: url("../img/icons/radio-off.svg") 50% 50% / contain no-repeat;
  mask: url("../img/icons/radio-off.svg") 50% 50% / contain no-repeat;
  background-color: var(--basic-greylight);
  margin-right: 12px;
  transition: background-color 0.1s;
}
.filter__check--maker:checked ~ .filter__name--maker::before {
  width: 27px;
  margin-right: 8px;
  -webkit-mask: url("../img/icons/checkbox-on.svg") 50% 50% / contain no-repeat;
  mask: url("../img/icons/checkbox-on.svg") 50% 50% / contain no-repeat;
}
.filter__check--mains:checked ~ .filter__name--mains::before {
  -webkit-mask: url("../img/icons/radio-on.svg") 50% 50% / contain no-repeat;
  mask: url("../img/icons/radio-on.svg") no-repeat 50% 50% / contain no-repeat;
}
.filter__name:hover {
  cursor: pointer;
}
.filter__name:hover::before {
  background-color: var(--catalog-checker);
}
.filter__name:active::before {
  background-color: var(--success);
}
.filter__name:disabled {
  opacity: 0.3;
}
.filter__check:focus ~ .filter__name::before {
  background-color: var(--success);
}
.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--catalog-button);
  background-color: var(--basic-white);
  color: var(--basic-black);
  width: 220px;
  padding: 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}
.filter-button:hover {
  cursor: pointer;
  border: 1px solid var(--basic-greylight);
}
.filter-button:active {
  border: 1px solid var(--basic-red);
}
.filter-button:focus {
  outline: 3px solid var(--success);
}
/*Сортировка*/
.sorting {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--catalog-filter);
  padding: 10px 17px 10px 20px;
  border-radius: 3px;
}
.sorting__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sorting__list--buttons {
  width: 55%;
  margin-right: 46px;
}
.sorting__subtitle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
}
.sorting__button {
  display: flex;
  background-color: transparent;
  border: none;
  border-bottom: 1px dotted var(--basic-red);
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-greylight);
  transition: all 0.1s;
}
.sorting__button--active {
  color: var(--basic-red);
  border: none;
  cursor: default;
}
.sorting__button:hover {
  cursor: pointer;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
.sorting__button:focus {
  outline: 3px solid var(--success);
}
.sorting__button--active:hover {
  cursor: default;
  color: var(--basic-red);
  border: none;
}
.sorting__button:active {
  color: var(--basic-red);
  border: none;
}
.sorting__order {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 10px;
  display: flex;
  align-items: center;
  transition: all 0.1s;
  margin-bottom: 5px;
}
.sorting__order:focus {
  outline: 3px solid var(--success);
}
.sorting__order--current .sorting__icon {
  fill: var(--basic-red);
}
.sorting__item--order:not(:last-child) {
  margin-right: 21px;
}

.sorting__icon {
  fill: var(--basic-greylight);
}
.sorting__order:hover .sorting__icon {
  cursor: pointer;
  fill: var(--basic-black);
}
.sorting__order--current:hover .sorting__icon {
  cursor: default;
  fill: var(--basic-red);
}
.sorting__order:active .sorting__icon {
  fill: var(--basic-red);
}
/*Страницы*/
.catalog__page:not(:last-child) {
  margin-right: 10px;
}
.catalog__page-link,
.catalog__page-link:link,
.catalog__page-link:visited {
  width: 38px;
  text-decoration: none;
}
.catalog__next-link,
.catalog__next-link:link,
.catalog__next-link:visited {
  width: 140px;
  text-decoration: none;
}
.catalog__page-link--current,
.catalog__page-link--current:link,
.catalog__page-link--current:visited,
.catalog__page-link--current:hover,
.catalog__page-link--current:active {
  cursor: default;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}
/*пара слов о перфораторах*/
.perforators {
  width: 100%;
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 67px;
}
.perforators__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}
.perforators__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
}
/* Фильтр цены без nouislider

.filter-price__range-controls {
  padding: 29px 18px;
  background-color: var(--catalog-filter);
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}
.filter-price__scale {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: var(--basic-greylight);
}
.filter-price__bar {
  height: 100%;
  width: 70%;
  background-color: var(--basic-green);
}
.filter-price__handle {
  position: absolute;
  cursor: pointer;
  display: flex;
  transform: translate(0, -50%);
}
.filter-price__handle:focus {
  outline: 3px solid var(--success);
}
.filter-price__handle--min {
  left: 0;
}
.filter-price__handle--max {
  left: 70%;
}
.filter-price__price-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dash {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  color: #444444;
}

.filter-price__input-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
  background-color: var(--catalog-filter);
  width: 95px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* Стили для nouislider*/
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.noUi-target {
  padding: 29px 18px;
  background-color: var(--catalog-filter);
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
}

.noUi-base {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: var(--basic-greylight);
  cursor: pointer;
}

.noUi-handle {
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 0 0 0 8px var(--basic-white), 0 2px var(--lightgrey);
  background-color: var(--basic-greylight);
  z-index: 2;
  transform: translate(50%, -50%);
}
.noUi-base::after,
.noUi-handle::after {
  content: "";
  position: absolute;
  top: -7px;
  bottom: -7px;
  right: -7px;
  left: -7px;
}
.noUi-handle:hover,
.noUi-handle:focus {
  outline: none;
  box-shadow: inset 0 0 0 8px var(--basic-white), 0 0 5px var(--success),
    0 2px var(--lightgrey);
}
.noUi-connect {
  position: absolute;
  z-index: 1;
  height: 2px;
  border: 0;
  background-color: var(--basic-green);
}

.filter-price__input-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  outline: none;
  background-color: var(--catalog-filter);
  width: 95px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
}

.filter-price .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 100%;
  background-color: var(--basic-green);
}
.dash {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  color: var(--dash);
}
