@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum-Regular"), local("Cuprum"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Cuprum-Italic"), local("Cuprum"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum-Bold"), local("Cuprum"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Cuprum-BoldItalic"), local("Cuprum"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), local("PT-Sans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans"), local("PT-Sans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-background: #293449;
  --background-nav: #32425c;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
  --lightgrey: #eaeaea;
  --active-link: #161d29;
  --button-hover: #ca2c37;
}
* {
  box-sizing: border-box;
}
body {
  min-width: 960px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/*Верхний хэдэр*/
.header-top {
  width: 100%;
  background-color: var(--special-background);
}
.header-top__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
/*Логотип*/
.logo,
.logo:link,
.logo:visited {
  position: relative;
  background-color: var(--basic-red);
  padding: 12px 56px;
  line-height: 0;
}
.logo::before {
  position: absolute;
  content: "";
  height: 5px;
  background-color: var(--error);
  bottom: -5px;
  right: 0;
  left: 0;
}
.logo:active {
  background-color: var(--error);
}
/*Поле поиска*/
.header-top__search {
  position: relative;
}
.header-top__search-input {
  width: 271px;
  height: 42px;
  font-size: 18px;
  background-color: transparent;
  border: none;
  padding-left: 42px;
  color: var(--basic-white);
}
.header-top__search-input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
  font-size: 18px;
  padding-left: 42px;
  width: 271px;
}
.header-top__search-icon {
  position: absolute;
  fill: var(--basic-white);
  opacity: 0.5;
  margin: auto;
  left: 17px;
  top: 0;
  bottom: 0;
  transition: opacity 0.1s;
}
.header-top__search-input:focus
  + .header-top__search-label
  .header-top__search-icon {
  fill: var(--basic-red);
  opacity: 1;
}
.header-top__search-input:hover
  + .header-top__search-label
  .header-top__search-icon {
  opacity: 1;
}
.header-top__search-input::placeholder {
  font-size: 18px;
  color: var(--basic-white);
}
.header-top__search-input::-webkit-search-decoration,
.header-top__search-input::-webkit-search-cancel-button,
.header-top__search-input::-webkit-search-results-button,
.header-top__search-input::-webkit-search-results-decoration {
  display: none;
}
/*Закладки, корзина, оформить*/
.header-top__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-top__item {
  display: flex;
  align-items: center;
  height: 42px;
  width: 150px;
}
.header-top__item-link,
.header-top__item-link:link,
.header-top__item-link:visited {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}
.header-top__item-icon {
  fill: var(--basic-white);
  opacity: 0.5;
  margin-right: 9px;
  transition: all 0.1s;
}
.header-top__item-link:hover .header-top__item-icon {
  opacity: 1;
}
.header-top__item-link:active {
  background-color: var(--active-link);
  color: rgba(255, 255, 255, 0.5);
}
.header-top__item-link:active .header-top__item-icon {
  opacity: 0.5;
}
.checkout {
  background-color: var(--basic-green);
}
.checkout:hover {
  background-color: var(--success);
}
.checkout:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}
/*Средний хэдэр*/
.header-middle {
  width: 100%;
  background-color: var(--basic-background);
}
.header-middle__container {
  max-width: 980px;
  margin: 0 auto;
  padding: 46px 20px;
  display: flex;
  justify-content: space-between;
}
/*Заголовок хэдэра*/
.header-middle__title {
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  font-size: inherit;
  color: var(--basic-red);
  margin: 0;
  margin-left: 30px;
}
/*Контакты хэдера*/
.header-middle__contacts {
  text-align: center;
}
.header-middle__phone-number,
.header-middle__phone-number:link,
.header-middle__phone-number:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  border: 3px solid var(--basic-white);
  text-decoration: none;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}
.header-middle__phone-number::before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 16px;
  background: url("../img/icons/phone.svg") no-repeat center;
}
.header-middle__adress {
  font-size: 14px;
  margin: 0;
  color: var(--background-nav);
}
/*Авторизация хэдера*/
.header-middle__authorization {
  display: flex;
  gap: 10px;
}
.header-middle__authorization-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  gap: 6px;
  border: none;
  outline: none;
  transition: all 0.1s;
}
.signin-button {
  width: 121px;
  height: 45px;
}
.signup-button {
  width: 150px;
  height: 45px;
}
.header-middle__signin-icon {
  fill: var(--basic-greylight);
}
.header-middle__authorization-button:hover,
.header-middle__authorization-button:hover .header-middle__signin-icon {
  color: var(--basic-red);
  fill: var(--basic-grey);
  cursor: pointer;
}
.header-middle__authorization-button:active,
.header-middle__authorization-button:active .header-middle__signin-icon {
  color: var(--basic-greylight);
  fill: var(--basic-greylight);
}
/*Нижний хэдер*/
.header-bottom {
  width: 100%;
  background-color: var(--basic-background);
  padding-bottom: 60px;
  margin-bottom: 59px;
}
.header-bottom__container {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main-nav {
  width: 100%;
}
.main-nav__list {
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-nav);
}
.main-nav__item {
  height: 100%;
  flex-grow: 1;
}
.main-nav__link,
.main-nav__link:link,
.main-nav__link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--basic-white);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.1s;
}
.main-nav__link:hover {
  background-color: var(--special-background);
}
.main-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
}
/*Предложения, слайдер*/
.main-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
.offers {
  margin-bottom: 59px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 123px);
  gap: 20px;
}
.offer-slider {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}
.offers__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  padding: 22px;
}
.offers__item--materials {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 83% 50%;
}
.offers__item--instruments {
  background: url("../img/icons/icon-2.svg") no-repeat 83% 50%,
    var(--special-blue);
}
.offers__item--machinery {
  background: url("../img/icons/icon-3.svg") no-repeat 83% 50%,
    var(--special-lilac);
}
.offers__item--sales {
  background: url("../img/icons/icon-4.svg") no-repeat 83% 50%,
    var(--special-greenlight);
}
.offers__item--delivery {
  background: url("../img/icons/icon-5.svg") no-repeat 83% 50%,
    var(--special-yellow);
}
.new-item {
  position: relative;
  overflow: hidden;
}
.new-item::after {
  content: "new";
  position: absolute;
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  top: 7px;
  right: -28px;
  margin: 0;
  transform: rotate(45deg);
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.offers__title {
  color: var(--basic-white);
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.offers__link,
.offers__link:link,
.offers__link:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.1s;
}
.offers__link:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.offers__link:active {
  background-color: rgba(169, 169, 169, 0.3);
}
/*Слайдер*/
.offer-slider {
  padding: 0;
}
.offer-slider__slides {
  display: flex;
  width: 200%;
  transition: transform 0.3s;
}
.offer-slider__container {
  overflow: hidden;
  position: relative;
}
.offer-slider__item {
  float: left;
  width: 620px;
  height: 266px;
  padding: 23px;
}
.offer-slider__perforator {
  background: url("../img/perforator.jpg");
}
.offer-slider__drill {
  background: url("../img/drill.jpg");
}

.offer-slider__dot {
  display: none;
}
.offer-slider__title {
  margin: 0;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}
.offer-slider__slogan {
  margin: 0;
  color: var(--basic-white);
  font-size: 15px;
}
.offer-slider__controls {
  position: absolute;
  z-index: 50;
  display: flex;
  width: auto;
  justify-content: center;
  gap: 10px;
  bottom: 36px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.offer-slider__control {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
  cursor: pointer;
}
.offer-slider__dot--prev:checked
  ~ .offer-slider__controls
  .offer-slider__control--prev,
.offer-slider__dot--next:checked
  ~ .offer-slider__controls
  .offer-slider__control--next {
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
}
.offer-slider__dot--prev:checked ~ .offer-slider__slides {
  transform: translate(0);
}
.offer-slider__dot--next:checked ~ .offer-slider__slides {
  transform: translate(-620px);
}

.offer-slider__arrow {
  position: absolute;
  z-index: 100;
  background-color: transparent;
  border: none;
  outline: none;
  top: 122px;
}
.offer-slider__arrow--prev {
  left: 20px;
}
.offer-slider__arrow--next {
  right: 20px;
}
.offer-slider__arrow:hover {
  cursor: pointer;
}
.offer-slider__arrow-icon {
  fill: var(--basic-white);
}
.offer-slider__catalog {
  position: absolute;
  z-index: 100;
  bottom: 27px;
  left: 24px;
}
.button,
.button:link,
.button:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  transition: all 0.1s;
}
.button:hover {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--error);
}
